@model AnswerViewModel
<div class="row">
	<h3>Add Question</h3>
	<form asp-action="AddAnswer" enctype="multipart/form-data" method="post" class="form-horizontal">
		<br />
		<br />
		<div type="hidden" class="form-group">
			<div type="hidden" class="col-md-5">
				<input type="hidden" asp-for="Index" class="from-control" />
				<span type="hidden" asp-validation-for="Index" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Answer.Text"></label>
			<input asp-for="Answer.Text" class="from-control" />
			<span asp-validation-for="Answer.Text" class="text-danger"></span>
		</div>
		<input class="btn btn-success" type="submit" value="AddQuestion" />
	</form>
</div>