@model TestPageViewModel
	<div class="row">
		<strong>@Model.Test.Name</strong><br />
		@{
			var i = 0;
			<div>
				@{
					if (Model.Question != null)
					{
						foreach (var question in Model.Questions)
						{
							<div>
								<strong>@question.Text</strong>
								@{
									if (Model.Answers[i] != null)
									{
										foreach (var answer in Model.Answers[i])
										{
											<div>
												<strong>@answer.</strong>
											</div>
										}
									}
									<a class="btn btn-warning" asp-controller="Test" asp-action="AddAnswer" asp-route-index="@i">AddAnswer</a><br/>
								}
							</div>
							i++;
						}
					}
					<a class="btn btn-warning" asp-controller="Test" asp-action="AddQuestions">AddQuestion</a><br/>
				}
			</div>
		}
	</div>