@model UrlResultViewModel
<div>
	<h1>@Model.Name</h1>
	<h2>Number Of Run-@Model.NumberOfRun</h2>
	<h2>@Model.Point/@Model.MaxPoint</h2>
	<h2>@Model.TestTime</h2>
	<h1><a class="btn btn-warning" asp-controller="UserTest" asp-action="CheckAnswers" asp-route-url="@Model.Url" asp-route-user="User">All Result</a></h1>
</div>