@model AdminTestViewModel
<div>
	<h1>Hello @Model.Admin.Name</h1>
	
	<table border="1">
		@{
			var i = 1;
			foreach (var test in Model.Tests)
			{
				<tr>
					<td>@i @test.Name</td>
					<td><a class="btn btn-warning" asp-controller="Test" asp-action="UpdatedTest" asp-route-Id="@test.Id">Edit</a></td>
					<td><a class="btn btn-warning" asp-controller="Test" asp-action="DelTest" asp-route-Id="@test.Id">DelTest</a></td>
				</tr>
			}
		}
	</table>
</div>