@model QuestionUpdatedViewModel
<div class="row">
	<h3>New Question</h3>
	<form asp-controller="Question" asp-action="Edit" enctype="multipart/form-data" method="post" class="form-horizontal">
		<br />
		<br />
		<div type="hidden" class="form-group">
			<div type="hidden" class="col-md-5">
				<input type="hidden" asp-for="Question.Id" class="from-control" />
				<span type="hidden" asp-validation-for="Question.Id" class="text-danger"></span>
			</div>
		</div>
		<div type="hidden" class="form-group">
			<div type="hidden" class="col-md-5">
				<input type="hidden" asp-for="Question.TestId" class="from-control" />
				<span type="hidden" asp-validation-for="Question.TestId" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Question.Text"></label>
			<input asp-for="Question.Text" class="from-control" />
			<span asp-validation-for="Question.Text" class="text-danger"></span>
		</div><br />
		<a class="btn btn-warning" asp-controller="Test" asp-action="Edit" asp-route-id="@Model.Question.TestId">Back to Test</a>
		<input class="btn btn-success" type="submit" value="Add Question" />
	</form>
</div>